@using Blazor.UI.Client.Shared
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div class="text-center">
                    <p class="lead">Determining session state, please wait...</p>
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </Authorizing>
                <NotAuthorized>
                   <UnauthorizedComponent></UnauthorizedComponent>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
               <NotFoundComponent></NotFoundComponent>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>