@page "/manager/addrepresentation"
@using Blazor.UI.Data.ModelViews.Theater
@using Blazor.UI.Data.services.TheatherService
@inject IRepresentationService Servrep;
@inject ISalleService ServSalle;
@inject IPieceService ServPiece;

@if (selectSalle != null && SelectPiece !=null)
{
    
    <form class="card form text-md-start">
        <div class="form-group card-body">
            <div>
                <label class="form-label" for="prix">Prix:</label>
                <input class="form-control" id="prix" @bind="Price" type="number" step="0.01" />
            </div>
            <div>
                <!-- manage the date -->
                <label class="form-label" for="seance">Seance:</label>
                <input class="form-control" id="seance" @bind="Date" type="datetime-local" />
              
            </div>
            <div>
                <label class="form-label" for="idSalleDeTheatre">Salle De Theatre </label>

                <select class="form-control" @bind="SelectSalleId" @oninput="selectionSalle">
                    <option>Choisissez une Salle</option>
                    @foreach (var item in selectSalle)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div>
                <label class="form-label" for="idPiece">Piece</label>

                <div>
                    <select class="form-control" @bind="SelectPieceID" @oninput="selectionPiece">
                        <option>Choisissez une Piece</option>
                        @foreach (var item in SelectPiece)
                        {
                            <option value="@item.Id">@item.Titre.ToString()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="p-4 m-4">
                <button class="btn btn-outline-dark" @onclick="() =>AddRepresentation()">Add Representation</button>
            </div>
            <div>
                @if (representation != null)
                {
                    <p>@representation.Seance</p> 
                    <p>@representation.PlaceCurrent</p>
                    <p>@representation.PlaceMaximum</p>
                    <p>@representation.SalledeTheatreId</p>
                    <p>@representation.PieceId</p>

                }
                else
                {
                    
                }
            </div>
        </div>
    </form>
}
else { }


@code {
    public IEnumerable<PieceDto> SelectPiece { get; set; }
    public IEnumerable<SalleDeTheatreDto> selectSalle { get; set; }
    public int SelectPieceID { get; set; }
    public int SelectSalleId { get; set; }
    //-------heure
    public DateTime Date { get; set; } = DateTime.Now;
    public int heure { get; set; }
    public int minute { get; set; }
    public int Price { get; set; }
    public SalleDeTheatreDto salle { get; set; } = new();
    public PieceDto piece {get;set;}
    //-------enti
    public AddRepresentationDto representation { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        SelectPiece = await ServPiece.Getlist();
        selectSalle = await ServSalle.Getlist();
    }
    private async Task AddRepresentation()
    {
        representation.Seance = Date;
        representation.Prix = Price;
        representation.PlaceCurrent = salle.PlaceMax;
        representation.PlaceMaximum = salle.PlaceMax;
        representation.SalledeTheatreId = salle.Id;
        representation.PieceId = piece.Id;
        await Servrep.Create(representation);
    }
    public async Task selectionPiece(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        if (int.TryParse(args.Value?.ToString(), out int selectedId))
        {
            SelectPieceID = selectedId;
            piece = await ServPiece.GetById(selectedId);
            representation.PieceId = piece.Id;
        }
    }
    public async Task selectionSalle(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        if (int.TryParse(args.Value?.ToString(), out int selectedId))
        {
            SelectSalleId = selectedId;
            salle = await ServSalle.GetById(selectedId);
            representation.SalledeTheatreId = salle.Id;
        }
    }
}