@page "/pieceClient/{Id:int}"
@using Microsoft.AspNetCore.Components.QuickGrid;
@using Blazor.UI.Data.modelViews.Theater;
@using Blazor.UI.Data.services.TheatherService;
@inject IPieceService servPiece;
@inject IComplexeService Servcomp;
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager;

<h3>Piece</h3>
@if (Piecetab == null)
{
    <Blazor.UI.Client.Shared.Load></Blazor.UI.Client.Shared.Load>
}
else
{
    <h3>Complexe Summary</h3>

    @if (detailsComplexe != null)
    {
        <div>
            <h4>Complexe Details</h4>
            <p><strong>Name:</strong> @detailsComplexe.Name</p>
            <p><strong>Description:</strong> @detailsComplexe.Description</p>
            <p><strong>Address:</strong> @detailsComplexe.Adress</p>
        </div>
    }
    else
    {
        <Blazor.UI.Client.Shared.Load></Blazor.UI.Client.Shared.Load>
    }
    <Microsoft.AspNetCore.Components.QuickGrid.QuickGrid Items="@Piecetab.AsQueryable()">
    <PropertyColumn Property="@(p => p.Titre)" Sortable="true" Title="Title" />
    <PropertyColumn Property="@(p => p.Duree)" Sortable="true" Title="Duration" />
    <PropertyColumn Property="@(p => p.Description)" Sortable="true" Title="Description" />
    <TemplateColumn Title="Action">
        <div >
            <button Context="item" @onclick="() => HandleButtonClick()">Get ID</button>
        </div>
    </TemplateColumn>
</Microsoft.AspNetCore.Components.QuickGrid.QuickGrid>
}
@code {
    [Parameter]
    public int Id { get; set; }
    ComplexeDto? detailsComplexe;
    IEnumerable<PieceDto>? Piecetab;

    protected override async Task OnInitializedAsync()
    {
        //implmenter le piece service pour recup les complexe
        detailsComplexe = await Servcomp.GetById(Id);
        Piecetab = await servPiece.GetByComplexe(Id);
    }

    private void NavRepresentation(int id)
    {
        NavigationManager.NavigateTo("");
    }
    private void backtoComplexe(int id)
    {
        NavigationManager.NavigateTo("");
    }
    private void HandleButtonClick()
    {
        
    }
}
