@using Blazor.UI.Client.Shared
<h3>Details</h3>

@if (SelectedSalleDeTheatre != null)
{
    <div>
        <p><strong>Name:</strong> @SelectedSalleDeTheatre.Name</p>
        <p><strong>Place Max:</strong> @SelectedSalleDeTheatre.PlaceMax</p>
        <p><strong>Place Current:</strong> @SelectedSalleDeTheatre.PlaceCurrent</p>
        <p><strong>Complexe ID:</strong> @SelectedSalleDeTheatre.ComplexeId</p>
        <p><strong>reservation Number</strong> @SelectedSalleDeTheatre.Representations.Count</p>
             
    </div>
    <br />
}
else
{
    <p>No Salle De Theatre selected</p>
}

@code {
    [Parameter]
    public SalleDeTheatreDto SelectedSalleDeTheatre { get; set; }
    public IEnumerable<RepresentationDto> representationDto { get; set; }

    protected  void OnInitilized() => representationDto = SelectedSalleDeTheatre.Representations;
}